@import "tailwindcss";

@theme {
  --color-century-green: #00A846;
  /* Pure brand green */
  --color-century-black: #111111;
  /* Soft rich black */
  --color-century-gray: #F5F5F5;
  /* Light gray for subtle backgrounds */

  --font-heading: var(--font-playfair), serif;
  --font-sans: var(--font-inter), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}